.swiper {
  width: 100%;
  height: 600px;
}

@media screen and (max-width: 1024px) {
  .swiper {
    height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .swiper {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .swiper {
    height: 300px;
  }
}
@media screen and (max-width: 320px) {
  .swiper {
    height: 250px;
  }
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

@media screen and (max-width: 425px) {
  .autoplay-progress {
    width: 28px;
  }
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
