nav>ul>.active ,nav>.active{
color: #ffffff;
 /* background-color: #12325e; */
 background-color: #1F2937;
}
/* div>ul>.active ,nav>.active{
  color: #ffffff;
 background-color: #1F2937;
 
} */

/* .dark nav>ul>.active  ,nav>.active{
color: #0c0b0b; */
 /* background-color: #12325e; */
 /* background-color: #f1f1f1;
} */
.dark nav>ul>.active  ,nav>.active{
  color: #000000;
 background-color: #f4f5f7;
 
}
.dark nav>ul>a:hover {
  color: black;
  background-color: white;
}

.navbar-light{
  background-color: #ffffff;
}
.navbar-dark{
  background-color: #1F2937;
}
.site-bg-ligh{
  background-color:#F9FAFB ;
}
.site-bg-dark{
  background-color:#111827 ;
}
.btn-bg-light{
  background-color:#3B82F6 ;
  transition: background-color 0.2s ease, color 0.2s ease;

}
.btn-bg-dark{
  background-color:#2563EB ;
  transition: background-color 0.2s ease, color 0.2s ease;

}
.card-bg-light{
  background-color:#ffffff ;
}
.card-bg-dark{
  background-color:#1E293B ;
}

/* text-content */
.navIcon-light{
  color: #6B7280;
}
.navIcon-dark{
  color: #9CA3AF;
}
 .active >button ,.active> p{
  color: white;
  background-color: #3B82F6;
}




